.object-map{
    height: 80vh !important;
    border-radius: 40px;
}
.nav-ul{
    margin-left: auto;
}
.nav-ul img{
    width: 60px !important;
    height: 60px !important;
    margin-top: 15px !important;
}
.nav-ul span{
    font-size: 20px;
    font-weight: bold;
    margin-top: 17px;
    margin-left: 20px;
}
li{
    list-style-type: none !important;
}

.nav-ul .dropdown-menu{
    width: 280px !important;
    margin-right: 50px;
    margin-top: 40px;
}
.objects-search{
    background-color: white !important;
    width: 300px !important;
    height: 60px;
}
.object-form{
    box-shadow: 0px 0px 16px 0px rgba(184,184,184,0.75);
}
.add-btn{
    float: right;
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.nav-link svg{
    float: right;
    margin-top: 5px;
}
.sidebar-toggled .nav-link svg{
    float: none !important;
}
.nav-link span{
    font-size: 15px !important;
}
.filter button{
    width: 100%;
}
.map-style{
    width: 100% !important;
    height: 300px !important;
    border-radius: 20px;
}

#map{
    width: 100% !important;
    height: 300px !important;
    border-radius: 20px;
}
#main_map{
    width: 100% !important;
    height: 700px !important;
    border-radius: 20px;
}
.hidden-map{
    width: 1px !important;
    height: 1px !important;
}

.check-in, .check-out{
    display: none;
}
